*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 65%;
    background-image: url(../Assets/images/banner-bk.jpg);
}

.icon-logo{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
}

.icon-logo > box-icon{
    margin-left: 9rem;
    margin-top: 4.5rem;
    font-size: 3.5rem;
}

.icon-logo > p{
    margin-right: 8rem;
    margin-top: 5.5rem;
}

.title{
    width: 50%;
    height: 30%;
    color: #fff;
    display: flex;
    font-size: 37px;
    margin-left: 9rem;
    
} 
.letters{
    color: #fff;
    font-size: 21px;
    margin-left: 9rem;
    margin-top: 2rem;
}

.get-started-buttom{
    margin-left: 9rem;
    margin-top: 3rem;
}

.get-started-buttom > button{
    width: 10%;
    border: none;
    font-size: 1px;
    color: rgb(0, 0, 0); 
    padding: 14px 28px;  
    border-radius: 40px; 
    background-color: mediumspringgreen;
}

.protection{
    width: 100%;
    height: 70%;
    background-color: #fff;
}

.protection > h2{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container-smartest{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
   ;
}

.anti > h1{
    margin-bottom: 10px;
    font-size: 20px;
}

.pishing > h1{
    margin-bottom: 10px;
    font-size: 20px;
}

.smart > h1{
    margin-bottom: 10px;
    font-size: 20px;
}

section{
    width: 100%;
    height: 110%;
    background-image: url(/Assets/images/transform.png);
    display: flex;
    flex-wrap: wrap;
    
    
}

.look-inside{
    display: flex;
    margin-left: 10rem;
}

.text-button > h2{
    margin-top: 1rem;
    font-size: 40px;
    align-items: center;
    margin-bottom: 1rem;
}

.look-inside > .img-look{
    margin-left: 15px;
}

.img-look > img{
    width: 80%;
}

.safe-reable{
    display: flex;
    margin-top: 4rem;
    margin-right: 2rem;
}

.text-button-1 > h2{
    font-size: 40px;
    margin-bottom: 1rem;
}

.text-button-1 > button{
    width: 7.5rem;
    height: 2.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(36, 11, 112);
    color: #fff;
}


.text-button > button{
    width: 7.5rem;
    height: 2.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(36, 11, 112);
    color: #fff;
}

.img-safe > img{
    width: 60%;
    margin-left: 7rem;
}


.pricing{
    width: 100%;
    height: 90%;
    background-color: #fff;
    
}
.our-pricing{
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pricing > h3{
    margin-top: 2rem;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 50px;
}

.our-pricing > .white-content{
    width: 20%;
    height: 100%;
    text-align: center;
}
.our-pricing > .blue-content{
    width: 20%;
    height: 100%;
    background-color: rgb(10, 10, 74);
    text-align: center;
    justify-content: center;
    border-radius: 4px;
}

.white-content > h4{
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #333;
}

.white-content .price {
    font-weight: normal;
    color: #333;
    margin-bottom: 3rem;
}

.white-content > .price span {
    font-size: 5rem;
    font-weight: normal;
    color: #333;
}

.white-content ul{
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.white-content li{
    margin-bottom: 12px;
}

.blue-content >h4{
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;
}

.blue-content .price {
    font-weight: normal;
    color: #fff;
    margin-bottom: 3rem;
}

.blue-content > .price span {
    font-size: 5rem;
    font-weight: normal;
    color: #fff;
}

.blue-content ul{
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    color: #fff;
}

.blue-content li{
    margin-bottom: 12px;
}

.white-content button{
    width: 7rem;
    height: 2.3rem;
    background-color: aliceblue;
    border-color: black;
    border-radius: 20px;
    margin-top: 2rem;
}

.blue-content button{
    border: none;
    width: 7rem;
    height: 2.3rem;
    background-color: rgb(18, 18, 171);
    border-radius: 20px;
    margin-top: 2rem;
    color: aliceblue;
}

.logos{
    width: 100%;
    height: 20%;
    background-color: #d0d1d2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contacus{
    width: 100%;
    height: 70%;
    background-image: url(../Assets/images/contact-bk.jpg);
    display: flex;
}

.contacus .contact{
    color: #eee;
    margin-left: 10rem;
    margin-top: 9rem;
}

.contact h5{
    font-size: 70px;
    margin-bottom: 2rem;
}

.contact p{
    font-size: 18px;
    margin-bottom: 2rem;
}

.contact ul li {
    font-size: 18px;
    margin-top: 1rem;
    list-style: none;
}

.forms > .form-1{
    font-size: 30px;
    color: #fff;
    display: flex;
    margin-top: 10rem;
}

.forms > .form-2{
    font-size: 30px;
    color: #fff;
}

.form-1 > button{
    background-color: aquamarine;
    width: 10rem;
    height: 1rem;
}

footer{
    width: 100%;
    height: 18%;
    background-color: rgb(19, 6, 57);   
}

footer > .copyright p{
    color: #fff;
    display: flex;
    align-items: center;
}

