*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 70%;
    background-image: url(../Assets/images/banner-bk.jpg);
}

.icon-logo{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 30px;
}

.icon-logo > box-icon{
    margin-left: 9rem;
    margin-top: 7rem;
    font-size: 5rem;
}

.icon-logo > p{
    margin-right: 9rem;
    margin-top: 7rem;
}

.title{
    width: 50%;
    height: 30%;
    color: #fff;
    display: flex;
    font-size: 37px;
    margin-left: 9rem;
    
} 
.letters{
    color: #fff;
    font-size: 20px;
    margin-left: 9rem;
    
}

.get-started-buttom{
    margin-left: 9rem;
    margin-top: 3rem;
}

.get-started-buttom > button{
    width: 8%;
    border: none; 
    color: rgb(8, 0, 0); 
    padding: 14px 28px;  
    border-radius: 40px; 
    background-color: mediumspringgreen;
}

.protection{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.protection > h2{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container-smartest{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 2px;
}

.anti > h1{
    margin-bottom: 10px;
    font-size: 25px;
}

.pishing > h1{
    margin-bottom: 10px;
    font-size: 25px;
}

.smart > h1{
    margin-bottom: 10px;
    font-size: 25px;
}

.look-inside{
    width: 100%;
    height: 100%;
    background-image: url(/Assets/images/transform.png);
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}


 .content-look > h2{
    font-size: 4.0rem;
    margin-bottom: 1rem;
}

.content-look > p{
    font-size: 25px;
}

.content-look > button{
    width: 20%;
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 14px 28px;  
    border-radius: 40px; 
    background-color: rgb(41, 43, 72);
    margin-top: 2rem;
}


.pricing{
    width: 100%;
    height: 90%;
    background-color: #ffffff;
}

.logos{
    width: 100%;
    height: 30%;
    background-color: #d0d1d2;
}
.contacus{
    width: 100%;
    height: 90%;
    background-image: url(../Assets/images/contact-bk.jpg);
    display: flex;
    flex-direction: column-reverse;
}

footer{
    width: 100%;
    height: 18%;
    background-color: rgb(36, 11, 112);   
}
