*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 70%;
    background-image: url(../Assets/images/banner-bk.jpg);
    
}

.icon-logo{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 30px;
}

.icon-logo > box-icon{
    margin-left: 9rem;
    margin-top: 7rem;
    font-size: 5rem;
}

.icon-logo > p{
    margin-right: 9rem;
    margin-top: 7rem;
}

.title{
    width: 50%;
    height: 30%;
    color: #fff;
    display: flex;
    font-size: 30px;
    margin-left: 9rem;
    
} 
/* .letters{
    
} */

.protection{
    width: 100%;
    height: 70%;
    background-color: #fff;
}

.look-inside{
    width: 100%;
    height: 90%;
    background-color: black;
}

.pricing{
    width: 100%;
    height: 90%;
    background-color: #fff;
}

.logos{
    width: 100%;
    height: 30%;
    background-color: #F2F3F4;
}
.contacus{
    width: 100%;
    height: 90%;
    background-image: url(../Assets/images/contact-bk.jpg);
    display: flex;
    flex-direction: column-reverse;
}

footer{
    width: 100%;
    height: 18%;
    background-color: rgb(58, 12, 198);   
}
